<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="wrapper">
            <div id="header"></div>
            <div id="content"></div>
            <div id="footer">
                {% block footer %}
                    <p>&copy; 2015 <a href="http://sameddin.pro/">Sameddin</a></p>
                {% endblock footer %}
            </div>
        </div>
    </body>
</html>
